[2018-12-24 11:42] neelkamath opened #1 "Improve README"
I ran the README instructions but didn't know where the server or whatever was. And I'm not sure whether this is like a SHAREit competitor where I needn't install an app to use it and such, so maybe state reasons as to why this was made (e.g., just for fun or for actual use).

[2018-12-24 12:10] blenderskool commented on #1
Commit is on the way. This project is very new on GitHub

[2018-12-24 12:35] blenderskool commented on #1
@neelkamath Commit pushed.

[2018-12-24 12:54] blenderskool opened #2 "No initial run for watcher"
File watcher during development does not run the build process for the first time.

[2018-12-24 12:56] #2 closed

[2018-12-24 13:46] blenderskool opened #3 "Show a list of previously joined rooms"
When the user is about to join a room, a list of previously joined rooms can be shown, along with an option to join a new room.

[2018-12-25 10:11] blenderskool opened #4 "Move to using JavaScript for layout of the app"
The UI for the app can be shifted completely to JavaScript which will give faster response and exclude the app code from other static pages later for SEO purposes.

[2018-12-26 16:15] #3 closed

[2018-12-26 16:15] #4 closed

[2018-12-26 17:57] #1 closed

[2018-12-27 15:11] blenderskool opened #6 "Share files list during transfer"
Files data(name, size, etc.) which are being transferred in a room must be shared with all the clients in the room.

[2018-12-30 08:34] blenderskool opened #7 "Compress files before sending"
Files with unsupported file formats can be compressed to standard `.zip` format before they are sent. This also has advantage of reducing file sizes in some situations.

[2019-01-06 09:27] blenderskool opened #8 "Show the backend being used"
Add an indicator in the app that will show whether `WebSockets` is being used or `WebRTC` for file transfer. It may not be useful for everyone but would help advanced users.

[2019-01-06 09:40] #8 closed

[2019-01-06 14:30] blenderskool opened #9 "Project Branding"
Logo, favicon, etc. should be created for proper branding of the project.

[2019-01-07 13:03] blenderskool opened #10 "Option for removing recent room"
Add an option to remove a previously joined room from the recent rooms list.

[2019-01-07 13:28] blenderskool opened #11 "WebRTC not working across different networks"
WebRTC works when the clients are in same network, but fails (switches to WebSockets) when they are in different networks.

[2019-01-07 14:54] #10 closed

[2019-01-21 13:22] blenderskool commented on #7
The compression method used does not DEFLATE the total size of the package. It's mainly for storage purposes only as deflating on the client side may have performance issues.

[2019-01-21 14:09] #6 closed

[2019-02-22 18:24] #9 closed

[2019-02-22 18:31] blenderskool opened #12 "Add service worker"
Addition of service worker with proper setup will make Blaze a PWA. Blaze was mainly built for mobile devices hence PWA addition would further improve its usability and give more native experience.

[2019-02-23 14:55] blenderskool commented on #12
Service worker has been added. PWA can be accessed on the `/app` route. Since file sharing requires an active internet connection, offline usage of Blaze is pretty much useless as of now.

[2019-02-23 14:55] #12 closed

[2019-02-26 12:16] blenderskool opened #13 "Change first time room join experience"
When a user uses Blaze for the first time, the modal for joining a room opens up without giving any context on what a room is and how two different clients must connect in the same room.

[2019-02-26 12:32] #13 closed

[2019-03-06 02:33] blenderskool opened #14 "Password locked rooms"
Rooms that are created may support some type of password which can prevent strangers from joining a room.
Joining a room would require a password which was set by the host of the room.

[2019-03-06 11:41] blenderskool opened #15 "Show name of room"
Name of the room which the user has joined must be shown.

[2019-03-06 12:39] #15 closed

[2019-03-12 12:16] blenderskool opened #16 "Recreate the data transfer visualizer using canvas"
The data transfer visualizer is built using SVGs on d3.js. D3 itself is a **heavy library** and a similar visualization can be built on HTML5 canvas without much code changes possibly using something lightweight like [Canvas Elements](https://www.npmjs.com/package/canvas-elements)

[2019-03-14 17:14] blenderskool commented on #16
Porting process would be in `canvas-visualizer` branch.

[2019-04-17 10:16] blenderskool commented on #16
Closed via #17

[2019-04-17 10:16] #16 closed

[2019-04-20 14:00] blenderskool opened #18 "Overlapping Room name"
In the File transfer screen, the Room name shown in the top bar overlaps with the Back button making it non-clickable.

[2019-04-25 03:18] blenderskool opened #19 "Create the landing page"

[2019-05-02 17:13] #18 closed

[2019-05-02 17:17] blenderskool opened #20 "Implement Desktop layout"
As Blaze was developed with the mobile-first approach, the layouts aren't responsive and can be improved especially for desktop screens.

[2019-05-02 17:39] blenderskool opened #21 "Allow only unique people in a room"
Blaze assumes people to have unique nicknames in a room to work correctly. Hence the backend should disallow people with same nickname accessing same room.

This will also solve the problem when the app is open in multiple windows/tabs, and the user tries to join the same room from both the instances.

[2019-05-03 11:19] blenderskool opened #22 "Direct room links don't work for new users"
Direct links to join a room don't work for new users. User is asked to enter a nickname and is taken to the recent rooms layout in the app.

[2019-06-13 15:57] #21 closed

[2019-06-16 17:39] blenderskool opened #25 "Add settings page"
A settings page can be used to allow to edit nicknames and other details of the client.

[2019-06-21 08:41] blenderskool opened #26 "Redirect user to home when offline"
When the user is in the `/app` route, and then goes offline, the user must be redirected outside this route, and shown a message.

[2019-08-04 15:01] blenderskool opened #29 "Wrong file list shared to new user in the room"
When some files have been transferred in a room, and then a new user joins followed by some other file transfer, the new user also gets the old list of files shared between other members in the room before.

Ideally, a new user should only be shown the files that are received by that person.

[2019-08-07 17:25] blenderskool opened #30 "Fix development process"
The development server does not work correctly with the new directory structure. Only `public` folder is watched by Gulp. `static` folder should also be included.

[2019-08-27 02:19] blenderskool commented on #7
The compression of files is now moved to a web worker to keep the UI fast and responsive, even when the files are getting compressed in the background.

[2019-09-05 19:20] blenderskool opened #32 "Migrate from Socket.io"
Socket.io is currently handling both WebSocket and WebRTC connections. While it serves the purpose, it has a few downsides which are making me consider this decision:
- WebSockets is natively supported in targeted browsers.
- Socket.io P2P (which implements WebRTC connections) has a high bundle size. Also, some changes in the wrapper have been made to suit the project's needs, which tends to becom

[2019-09-08 13:26] #7 closed

[2019-09-08 13:26] #19 closed

[2019-09-08 13:26] #20 closed

[2019-09-08 13:26] #22 closed

[2019-09-08 13:26] #26 closed

[2019-09-08 13:26] #29 closed

[2019-09-08 13:26] #30 closed

[2019-09-18 08:01] blenderskool opened #34 "File selector not working on older versions of Firefox"

[2019-09-19 12:58] blenderskool opened #35 "Drag and drop files"
Drag and drop to share files can be added for desktop layouts

[2019-09-20 15:48] blenderskool opened #36 "Use Svelte special elements"
Svelte has elements like `<svelte:window>` that make it simple to attach and automatically remove event listeners from the window object. Right now, this code is written in the `onMount` of some components.

[2019-09-29 15:42] blenderskool opened #37 "Update the UI when user gets auto-disconnected"
This sounds a little weird, but when the browser decides to close the file-sharing connection (mostly WebRTC) in the background, the UI does not reflect the changes and still shows the user connected.
Further file transfers do not work until the user reconnects.

[2019-10-10 16:58] adam0k commented on #35
I would like to work on this issue

[2019-10-10 17:23] blenderskool commented on #35
@adam0k Sure, please go ahead.

Feel free to ask if you need any help :slightly_smiling_face:

[2019-10-10 17:47] blenderskool opened #38 "Prevent rooms with reserved symbols"
While joining a new room, the room name must not contain characters such as `#, ?, & ...` which have a special meaning in a URL. When these characters are used, the app stops working as expected.

Hence the room name must be validated to prevent reserved symbols.

[2019-10-10 17:57] blenderskool opened #39 "Add contribution guidelines"

[2019-10-10 18:14] skywalkerluc commented on #38
May I take this?

[2019-10-10 18:22] blenderskool commented on #38
Sure @skywalkerluc :slightly_smiling_face:

I will be adding contribution guidelines(#39) for this project soon!

[2019-10-10 19:53] skywalkerluc commented on #38
Should I avoid special characteres showing on input or validate after submit (using pattern attr)?

[2019-10-10 19:55] skywalkerluc commented on #38
I mean, if I just use pattern attr, after clicking "Join Room", a tooltip will appear bellow saying: "Please match the requested format".

[2019-10-11 01:52] blenderskool commented on #38
`pattern` attribute should be fine. We can try showing a custom tooltip when the validation fails.

[2019-10-11 14:35] #39 closed

[2019-10-12 16:07] #38 closed

[2019-10-12 16:38] blenderskool opened #41 "Overflowing files list on desktop"
The files list in the transfer page overflows vertically when a large number of files are being shared. It should be made scrollable when it overflows.

[2019-10-12 21:28] SergiuMaja commented on #41
Hi. I created a [pull request](https://github.com/blenderskool/blaze/pull/42) for the issue

[2019-10-13 15:40] blenderskool commented on #41
Closed via #42

[2019-10-13 15:40] #41 closed

[2019-10-17 17:53] blenderskool opened #43 "Remove logs in production"
Server in production logs the users joining in the room. It is useful in debugging purposes and must be removed in production.

[2019-10-17 18:15] blenderskool commented on #37
It may be solved by listening to the `disconnect` event on the socket.

[2019-10-21 19:15] roshin8 commented on #14
I was thinking about this feature as well. Do you have any tips on how to go about this? I was planning on forking your repo to add other features

[2019-10-22 02:01] blenderskool commented on #14
I had some points in mind to implement this:
- The creator of the room gets option to set a password which is sent to the server
- When other user join the room, they get an option to enter the password which would complete the connection.

This may require separating the creating and joining a room form wherein while creating a room additional options such as set a password are shown.

@roshin8 F

[2019-10-22 15:24] roshinv commented on #14
@blenderskool Awesome. Thanks a lot! Great job with this project by the way. Love the UI.

[2019-10-26 13:53] blenderskool commented on #43
Noticed it was already solved before this issue was created.

[2019-10-26 13:53] #43 closed

[2019-10-26 14:01] #34 closed

[2019-10-26 14:01] #36 closed

[2019-11-09 15:35] blenderskool opened #46 "Anonymous rooms"
Anonymous rooms would be **rooms with random names** (sequence of random characters). The current method of creating rooms may involve clashes. There may be someone else already present in a room which some other user wants to use.

To solve this, anonymous rooms would act as self-destruct rooms, where a user creates an anonymous room, shares the direct join link of the form `/app/t/<random-room-n

[2019-11-13 15:36] blenderskool opened #47 "Web share target"
The new Web Share Target API would allow Blaze to accept file data from the native file system itself(currently on Android), thus improving the user experience of the PWA :zap:

The full implementation of this in Blaze is yet to be thought of, as joining a room adds a step to sharing files. One approach may be to make use of Anonymous rooms #46

[2019-11-18 18:13] marclundgren opened #48 "WebSockets crashes server in some instances"
[code]

[2019-11-18 18:13] marclundgren commented on #48
If it helps, I'm currently on a starbucks (public) network.

[2019-11-18 18:25] blenderskool commented on #48
Thanks, I have identified this bug recently. It occurs due to a bug in WebSockets implementation causing the server to crash in some instances.

[2019-12-01 16:58] Irfan-S opened #50 "Selecting and sending multiple files from Android doesn't work."
Issue sending multiple files between Android and Linux on Firefox. Operation ends up stalling.

Firefox on Linux shows an active WebSocket connection, whereas Android shows WebRTC.

On batch select and send from Android , the files seem to get overlapped, which result in no transmission.

[2019-12-01 17:30] blenderskool commented on #50
I can't seem to replicate this issue. Can you share additional info such as
- Browser on Android
- Number of files shared

[2019-12-02 05:50] Irfan-S commented on #50
Firefox on Android to Firefox on Linux
Files shared : 5

![7D2F7274-AD57-486E-B81E-22D11161499B](https://user-images.githubusercontent.com/31773650/69933636-61e28680-14f5-11ea-8a82-23fe60c6a77d.png)
This is another test from Firefox on Android to Firefox on iOS
The first file, with size 0kB, Is a selection of 5 images. Does not get transferred.
Further transfers between devices on Firefox do not s

[2020-02-24 13:35] blenderskool commented on #50
@Irfan-S This issue is more geared towards Firefox mobile. On checking [caniuse](https://caniuse.com/#feat=input-file-multiple), I find that Firefox for Android **does not support multiple file selection**. I assume same issue with Firefox on iOS as well.

Having said that, our best bet may be to not allow invalid multiple file selection on Firefox mobile, similar to how other tools like Firefox S

[2020-03-10 17:26] blenderskool opened #51 "Fix icon sizes"
`icon-192.png` and `icon-512.png` are **not** 192x192 and 512x512 size images respectively.

[2020-03-10 17:30] blenderskool opened #52 "Service worker not getting registered on Chrome 80"
Service worker is not properly getting registered in Chrome 80 due to scope while registering. This limits the installability of the PWA.

[2020-03-10 17:32] #51 closed

[2020-03-10 17:32] #52 closed

[2020-03-15 17:48] blenderskool opened #54 "Add Deploy buttons to README"
:bulb: Deploy buttons can be added to the README to allow new users to quickly deploy Blaze to their server. Following buttons can be added:
- **Deploy to Heroku** - as far as I know, Blaze can run on the free tier of Heroku.
- **Try in PWD** - since Blaze is containerized using Docker, this would quickly setup Blaze on a playground server for testing purposes.

Open to discussing if there are oth

[2020-03-16 08:06] #35 closed

[2020-03-16 08:06] #50 closed

[2020-03-16 08:06] #54 closed

[2020-04-15 21:38] jacksonhorton opened #57 "Crahes when transferring on mobile device(iOS)"
I know that mobile devices probably aren't what Blaze is intended for, but just letting you know it crashed my iPhone when I tried it.

[2020-04-15 21:38] #57 closed

[2020-06-20 14:33] blenderskool opened #58 "Experiment with WebTorrent instead of native WebRTC"
### Current issues
While WebRTC is enabling peer to peer connections, Blaze requires a mechanism to implement multiple connections from one peer to the other peers in a room to enable many-to-many file sharing. The number of connections scales up quickly as multiple peers join the same room. This can lead to poorer performance and higher bandwidth consumption compared to the traditional server-bas

[2020-06-27 10:43] blenderskool opened #59 "Show more metadata for transferred files"
Transferred files can show more metadata:
- If the file was sent or received
- An icon associated with the file type
- Who sent the file
- Maybe when the file was transferred? (Eg. Sent 2 mins ago) :thinking:

[2020-06-28 09:51] blenderskool commented on #59
Not including "when file was transferred?"

[2020-06-28 10:54] blenderskool commented on #37
This is fixed as socket.io has been replaced with native WebSockets

[2020-06-28 10:54] #37 closed

[2020-06-28 11:33] blenderskool opened #60 "Show queued files"
Indicate the files that are queued for transfer. For WebSocket transfer, multiple files are sent one by one. Hence at the start, only one file is shown in the files list for the sender. This may be confusing if the sender selected multiple files, and initially sees only a single file in the list.

[2020-06-28 15:29] blenderskool opened #61 "Add option to share link of room"
Even though rooms are meant to be easy to remember, a share link can be added for extra convenience to invite other peers to join the same room.

This option can be added at the right side of the header (which currently shows a fake element to accommodate spacing)
Will make use of Web Share API and option would show up only on browsers that support this API

[2020-06-28 18:15] blenderskool commented on #46
Updates:
- Instead of having rooms names of random characters, we can go with using something like https://github.com/aceakash/project-name-generator to generate understandable yet unique(mostly) room names.
- The QR code part can be moved to sometime later
- The logic for this would be implemented on the server where the server would return a name of the room which is empty

[2020-06-29 06:09] blenderskool commented on #32
Migrated to using [ws](https://www.npmjs.com/package/ws) library for the WebSocket server, and native WebSocket API on the client-side. A thin wrapper is added over these APIs for a more event-based socket messaging inspired by socket.io

[2020-06-29 18:05] blenderskool opened #62 "Fix broken stylesheet loading on Firefox"
Stylesheets don't load correctly on Firefox after the app is built

This may fix it https://github.com/preactjs/preact-cli/pull/1235

[2020-07-06 16:48] blenderskool opened #63 "Update README"
README needs to be updated to include changes in `next` branch

[2020-07-27 18:21] blenderskool opened #65 "Room on local network"
Blaze right now allows public rooms for sharing files. But in some use cases, a room on local network would suffice for sharing files across devices in the same room.

On the Front-end:
- Show a local room in the rooms list which also shows the live peers who have joined the local room.
- The local room can be accessed in `/app/t/` so that it does not conflict with other existing rooms.

On the Ba

[2020-08-10 15:37] blenderskool opened #66 "A new identity for Blaze ⚡"
Blaze is built for sharing files across multiple peers in a _blazing-fast_ way. While the current logo mainly featured a cloud with a lightning symbol, it did not capture the true identity of Blaze.

### New logo proposal
The new logo tries to improve upon the current logo of Blaze by retaining the original colors and the lightning symbol.
- The cloud is dropped completely as Blaze is primarily me

[2020-08-26 16:59] prediscover commented on #66
Looks nice! Love the theme

[2020-09-02 16:56] vishalveerareddy opened #68 "When sharing among 3 users 2 users in chrome 1 user on safari"
File transfer is stuck forever
when I close the safari user the room is blocked.

[2020-09-02 17:05] blenderskool commented on #68
@vishalveerareddy Which branch was this tested on? `master` or `next`?

[2020-09-02 17:08] vishalveerareddy commented on #68
master

[2020-09-12 15:03] #32 closed

[2020-09-12 15:03] #47 closed

[2020-09-12 15:03] #58 closed

[2020-09-12 15:03] #59 closed

[2020-09-12 15:03] #61 closed

[2020-09-12 15:03] #63 closed

[2020-09-12 15:03] #66 closed

[2020-09-12 15:03] #60 closed

[2020-09-12 15:03] #62 closed

[2020-09-12 15:14] blenderskool commented on #11
This is most likely because there is no TURN server being used.

[2020-09-21 03:29] blenderskool opened #72 "Remove dependency on unique nick names"
The unique nicknames rule was originally added to prevent multiple sessions from the same browser window. It is used in some places to identify a peer in the room. This dependency on the unique nicknames should be removed and **auto-generated unique id must be used**.

[2020-09-22 06:51] blenderskool commented on #48
This was fixed in the v2.0.0 release and does not happen anymore 🙂

[2020-09-22 06:51] #48 closed

[2020-09-22 18:12] blenderskool opened #73 "Update document title when joining a room"
Joining a room does not change the document title and it remains `App | Blaze`.
After joining the room (in `FileTransfer.js`), title should become `<room-name> room | Blaze`, and should change back to `App | Blaze` on when returning back to Rooms page.

[2020-09-30 06:35] blenderskool opened #74 "Fix share target capturing text as shared.txt file"
The web share target (defined in `client/src/manifest.json`) currently accepts only files, but some apps share some text data with files. Example: "This file was created with [App name] [App URL]".

Right now the share target takes the text data and creates a file out of it called `shared.txt` and then gets transferred via Blaze.
This is annoying for some users as this data is **not really useful

[2020-09-30 08:14] blenderskool opened #75 "Show copy link button when web share API is unavailable"
Since some browsers don't support web share API (which is shown on mobiles to share the link to Blaze room), a copy link button can be shown in its place which would copy the link to the clipboard.

We can make use of [copy-to-clipboard](https://www.npmjs.com/package/copy-to-clipboard) package for this.

For reference, on mobiles, this is the share button.
<img src="https://user-images.githubuserc

[2020-09-30 08:29] OmkarPh commented on #75
I am interested to work on this issue.

[2020-09-30 08:30] OmkarPh commented on #73
I look forward to work on this issue, can you assign it to me.

[2020-09-30 10:50] abhishek-aa commented on #75
I would like to work on this issue. I have worked on WebSockets and WebRTC and I can easily get this done. Please provide me a chance to work on this issue and I'll deliver the results as soon as possible!

[2020-09-30 11:10] blenderskool commented on #75
@OmkarPh Sure go ahead.

@abhishek-aa Not going to stop you from working on this, but since you have worked with WebSockets and WebRTC maybe you can checkout other issues involving these concepts :slightly_smiling_face:

[2020-09-30 11:34] OmkarPh commented on #75
@abhishek-aa  you can do the work faster than me, I think you should do it,
I am currently working on something else anyways, I would like to see your approach and it would be great to know something new, if you couldn't then I'll definitely give a try  :)

[2020-09-30 12:02] abhishek-aa commented on #75
@blenderskool Sure! I'll checkout other issues as well!

[2020-09-30 12:30] blenderskool commented on #73
Sure @OmkarPh 🙂

[2020-09-30 12:43] abhishek-aa commented on #74
@blenderskool I think this can be fixed by adding 'text' and 'title' under 'params' in manifest.json.

[2020-09-30 14:26] cristicismas commented on #74
I could make a quick PR if you assign me. So, all I would need to do is add the `text` and `title` under `params` in `manifest.json`? If so, what should these values be? I don't have a lot of experience with PWAs.

[2020-09-30 20:06] omnone commented on #72
Hey I am interested on this, can you provide some more information ? Thanks!

[2020-10-01 03:17] blenderskool commented on #72
Hi @omnone,
A quick way to see the issue is by going to Blaze from two different tabs and join the same room. There will be a message stating `User with the same name exists in this room`. This is because Blaze expects the name of the user to be unique in a room.

The best place to start working on this issue is to:
- go to `socketConnect.js` and check what data we are sending right now while join

[2020-10-01 03:21] blenderskool commented on #74
@abhishek-aa Yes it may be fixed with those additions.

@cristicismas We are not reading the value of `text` or `title` in the service worker right now so it can technically be anything. Maybe keep something short and simple in case we need it later.

[2020-10-01 09:37] omnone commented on #72
Awesome i will give it a try thanks!

[2020-10-01 09:47] blenderskool commented on #72
Sure @omnone :smile:

[2020-10-01 13:13] abhishek-aa opened #79 "CONTRIBUTING.md Project setup issue"
Under project setup, the steps mentioned are out of order. According to me, 'cd blaze' command must come before 'git remote add upstream https://github.com/blenderskool/blaze.git'.

[2020-10-01 13:14] abhishek-aa commented on #79
I am working on another open issue so I can fix this bug. Please assign me this issue and I will submit the PR including the fix for both the issues.

[2020-10-01 15:19] abhishek-aa commented on #75
Please assign me this issue. I have already created a pull request.

[2020-10-01 15:50] omnone commented on #72
Will users be still able to select their usernames or will uuids be used everywhere?

[2020-10-01 16:05] blenderskool commented on #72
@omnone yes users will still be able to use nicknames. The flow does not change for a user in anyway. Only internally users would be identified by the unique id

[2020-10-02 15:06] blenderskool commented on #79
@abhishek-aa Yes, seems like I missed it while writing the contributing guide. You can work on fixing it :slightly_smiling_face:

[2020-10-03 14:24] blenderskool commented on #46
This feature is added as **Instant Rooms** :tada:

[2020-10-04 17:57] blenderskool opened #82 "Fix basic accessibility issues"
There are some basic accessibility issues on the landing page of Blaze which can be seen on Lighthouse.

![image](https://user-images.githubusercontent.com/21107799/95023140-f29b6d00-0698-11eb-80c0-c9be2f47f387.png)

The complete report can be found here https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fblaze.now.sh%2F#accessibility

[2020-10-04 17:58] blenderskool commented on #82
Also, the `alt` attribute for `img` tag here could be "Powered by DigitalOcean" and the link label can be set as "DigitalOcean"

[2020-10-04 18:01] dipanshubhola1009 commented on #82
I m interested.

[2020-10-04 18:10] dipanshubhola1009 commented on #82
I have fixed this issue and thanks in advance for merge.

[2020-10-05 16:03] abhishek-aa commented on #79
@blenderskool Correct me if I'm wrong, shouldn't ```bash
git checkout -b my-branch next
[code]
?

[2020-10-08 08:50] abhishek-aa commented on #79
@blenderskool

[2020-10-09 06:39] thazhemadam opened #84 "Can't rejoin room if network connectivity is interrupted"
# Issue
If one of the devices loses network connectivity after joining a room, said device does not seem to be able to re-join the same room right after.

# Steps to Reproduce

- Create a new room using device **A**, and join said room with device **B**
- Disconnect  device **B**'s network access
- Try to rejoin the same room with device **B**

A *Connection Error* that says *User with same name e

[2020-10-09 07:30] blenderskool commented on #84
@thazhemadam Interesting that this issue is still occurring. I'm not able to reproduce the issue from the steps.

As of now following points have already been implemented which is similar to the potential solution.
- A local state is maintained to keep track of connectivity via `navigator.onLine`. (NOTE: This only checks whether the system is connected to a network and not whether the network itse

[2020-10-09 07:49] thazhemadam commented on #84
Hmm, that's odd.
Anyway, this should give you some more clarity.
![blaze_reproduce](https://user-images.githubusercontent.com/47104651/95557049-e06f5500-0a31-11eb-8a65-04dd5ef4de59.gif)

[2020-10-09 08:06] thazhemadam commented on #84
Another idea could be encoding the "*Cool nickname*" for a device, with the MAC address of the device.
That way, if a device with the same "*Cool nickname*" tries to access the same room, a simple check would suffice to confirm if the device is the one that was initially connected and got disconnected (which hasn't been detected yet), or a different device.
I think technically, this would fix #72

[2020-10-09 08:45] blenderskool commented on #84
Thanks for providing this, I'm able to reproduce the issue now.

Yes, this can be a potential fix too. However, MAC addresses aren't accessible from JavaScript client directly. Instead, maybe we can allot a random unique id for every client that when they use Blaze for the first time.

The major reason for preventing the same nicknames in the same room was a loose attempt in preventing same client

[2020-10-09 08:52] blenderskool commented on #79
Doesn't really matter for new users who are following the CONTRIBUTING guide as the local `next` and `origin/next` branches would be the same for the first time.

[2020-10-09 09:23] abhishek-aa commented on #79
@blenderskool I think that's where the issue is....there is no local ```next``` when someone starts working.

[2020-10-09 09:46] abhishek-aa commented on #79
created a pull request. Please review and merge!

[2020-10-17 14:44] blenderskool commented on #82
This issue is still open in case anyone is interested to work as there haven't been any updates from @dipanshubhola1009 in their PR from the review.

[2020-10-18 19:41] RotonEvan commented on #82
#86 I've fixed the issue and submitted a pull request

[2020-10-18 19:41] RotonEvan commented on #82
@blenderskool please verify the changes :)

[2020-10-18 19:55] RotonEvan commented on #84
@blenderskool  Did you try removing Device B from the room when it loses connection? That might fix the problem. How are you keeping track whether a user (Device) is present in the room or if it has left?

[2020-10-18 20:20] blenderskool commented on #84
@RotonEvan I don't think the server(which maintains the list of sockets) can be notified about the loss of socket when the socket itself loses connection. It currently performs a check on all sockets at every interval to remove dead sockets.

[2020-10-19 00:10] RotonEvan commented on #84
That should help only if you decrease the interval time to 1 sec

Are you setting the `nickname` in the session?

For a solution, as you do not want a client to join same room twice, we need to detect the network lose from client side itself and add a state of network lose in the state machine. You need to put this logic in code. Else decreasing socket heartbeat interval to 1 sec might help too I

[2020-10-19 03:00] blenderskool commented on #84
@RotonEvan

Yes, this is the most straightforward fix for now. I'm thinking if there is another way of doing this without having to check every second (which might become a time consuming operation in case of large number of sockets?)

Yes, `nickname` is being used to uniquely identify peers on the server.

On the client side, this check is being made via the `navigator.onLine` listeners which tak

[2020-10-19 03:06] RotonEvan commented on #84
Can I work on this? I know it's a really easy fix but might help me in hacktoberfest :p

[2020-10-19 03:11] blenderskool commented on #84
@RotonEvan Yes sure go ahead, but may I know the changes you will be making to solve this? Is it decreasing the heartbeat interval to 1s?

[2020-10-19 03:52] RotonEvan commented on #84
@blenderskool you tell what seems to be the best fix for this issue. Decreasing interval is a way out. Maybe the best one even as of now.

[2020-10-19 04:30] blenderskool commented on #84
@RotonEvan Decreasing interval makes the most sense as this is exactly why the ping/pong mechanism is mentioned in the WebSockets spec.
My major concern is how it would **scale against a large number of socket connections**. I couldn't find any "optimal" interval duration for this, so we might have to apply a safer growth function like `log` to subtly increase the interval duration as the number o

[2020-10-19 07:37] #79 closed

[2020-10-19 08:36] thazhemadam commented on #84
This doesn't really sound like a permanent fix to me. The overhead incurred by performing this check every 1s will be much greater. Secondly, what happens if this happens when Device B is transferring a file? Does the file get only partly received? Or does the received file get deleted?
I feel it'd be a better idea, to put Device A into a "suspend" state of sorts for a fixed time interval when the

[2020-10-19 10:20] blenderskool commented on #84
Yep, as I said earlier this is a major concern with decreasing the timeout interval which is why it was set to 30s in the first place.

There are two situations for understanding what happens here:
- In the case of P2P sharing with WebTorrent, the file-sharing stops immediately if no other peer in the room has received the file.
- In WebSockets (fallback if P2P isn't supported), this handling hasn

[2020-10-19 10:32] blenderskool commented on #84
That way, if a device with the same "Cool nickname" tries to access the same room, a simple check would suffice to confirm if the device is the one that was initially connected and got disconnected (which hasn't been detected yet), or a different device.

Adding to what @thazhemadam said earlier, this might be the best approach (with unique ids instead of MAC addresses) till now (if we aren't decr

[2020-10-19 22:03] RotonEvan commented on #84
You aren't logging in any user right? So in that case a unique ID is a bad idea as you would have to save the ID in browser cookies. Bdw can you tell me where you are processing the check that whether a user is already there in the room? Might get some idea from there...

[2020-10-20 02:55] blenderskool commented on #84
@RotonEvan

Umm I don't understand how it's bad because we have to store the id locally. Possibly localStorage as that's where all data is stored.

Check `server/index.js` lines 37-41.

[2020-10-20 03:05] RotonEvan commented on #84
@blenderskool

Cookies is bad as cuz it's not permanent as isn't in the control of the code. But about localStorage...what data do you store?

[2020-10-20 03:15] blenderskool commented on #84
We are not using cookies for storing data :)

Maybe you can take a look at the code from your side too :stuck_out_tongue:
It holds user nickname, rooms that they joined before.

[2020-10-20 03:28] TheVamster opened #87 "If I try sending a dick pic, it says file too large to compress"

[2020-10-20 03:43] RotonEvan commented on #84
Okay so...the problem is that your system isn't getting updated instantly when there is a connection failure for one device (consistency issue). To compensate that we can decrease the heartbeat interval. Now, you say a unique ID is a good solution. Let's first clear a few things.
1. You do not want one person to enter a room more than once. However can another person with same name enter that room

[2020-10-20 03:49] RotonEvan commented on #11
Yeah that's one possibility. Second is ICE fails a lot in firefox. Do you possibly use firefox?

[2020-10-20 03:52] blenderskool commented on #11
@RotonEvan No not using Firefox right now

[2020-10-20 04:03] blenderskool commented on #84
Yes, there's an issue already for the same #72

Yes, this is the caveat (quoted below) I mentioned in the earlier messages.

But I think the approach suggested by @thazhemadam was mainly to allow a peer (who lost connection) to rejoin a room within the 30s interval without getting the _User with same name exists in this room_ error. If the peer joins within that 30s interval, well and good, otherw

[2020-10-20 06:01] RotonEvan commented on #84
Normally to get back network connection it takes atleast 10s. However it is necessary to update the server as early as possible. So I think we can settle somewhere between 5-10s.

7 or 8 seems fine. Tell me one, I'll update the interval in a PR. And then I can try #72 and also the 30s buffer one separately.

[2020-10-20 07:18] blenderskool commented on #84
@RotonEvan Ok makes sense. We can try between 10s-15s.

@RotonEvan @thazhemadam From what I understand with the discussion here and issue #72,
We can try decreasing the interval duration to something between 10s to 15s after testing with a large number of sockets connected at once.
While this interval reduction would help the server to identify the broken connection faster, it doesn't solve the or

[2020-10-20 18:20] RotonEvan commented on #84
Got busy with some other work, will update the interval with 12s as of now and create a PR.

@blenderskool yeah these modifications seems good. #72 needs to get solved.

[2020-10-24 13:16] Irfan-S commented on #50
Awesome! Works great now. Really neat tool

[2020-10-24 17:19] blenderskool opened #89 "Fix social link preview images"
There is some issue with loading the preview images when a link to Blaze is shared on social media. The image is available at the path `client/src/assets/images/site-preview.jpg` and `<meta>` tags referencing these images are present in `client/src/template.html` but due to some bug, the images don't show up in social preview.

Example on Facebook:
![](https://user-images.githubusercontent.com/211

[2020-10-24 17:38] blenderskool opened #90 "Refactor tested browsers list to use CSS grid"
Tested browsers list may get wrapped weirdly on different screen sizes. We can refactor it to CSS grid to prevent this. This can be of help to anyone who picks this up: https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/

### Current Behavior

![](https://user-images.githubusercontent.com/21107799/97088257-48868380-164d-11eb-8f69-e766dc6a31b3.png)

[2020-10-24 17:48] blenderskool opened #91 "Fix Try in PWD button"
`Try in PWD` (Play with Docker) button is broken since Blaze v2.0.0 update. It needs to be fixed by adding a separate configuration file.
A good repository for some reference is https://github.com/vegasbrianc/prometheus
Also, check out the `docker-compose` file to learn more about how the project is structured in terms of Docker images.

[2020-10-24 17:53] khamer commented on #90
@blenderskool are you looking for a solution without a breakpoint? Or doesn't matter?

[2020-10-24 17:59] blenderskool commented on #90
@khamer Preferably not a breakpoint, I think it's easy to achieve it with CSS Grid and auto fill referenced in the link

[2020-10-24 19:10] RedLinus commented on #90
How do you want it to be fixed?
Do you want it to go from this:
![image](https://user-images.githubusercontent.com/55694176/97091583-26850500-163d-11eb-9e79-480dc7d7d620.png)

Directly to this:
![image](https://user-images.githubusercontent.com/55694176/97091589-31d83080-163d-11eb-8ac6-2777a08bc332.png)
?
I can take this on anyway, just want tot know how you want it 🙂

[2020-10-24 19:20] blenderskool commented on #90
@RedLinus yeah that's the expected behaviour. It is either a 2*2 grid or 4*1 when there's no space for 2*2 grid.

[2020-10-24 19:20] SreejithNS commented on #89
Please refer Pull Request #92

[2020-10-25 09:10] blenderskool opened #94 "Escape key to close Modals"
Modal components should close when `Escape` key is pressed on the keyboard.

[2020-10-25 10:48] sooster910 commented on #94
Hi @blenderskool  👋  . Can I try to work on this?

[2020-10-25 11:01] blenderskool commented on #94
Sure @sooster910 🙂

[2020-10-25 14:38] talhaabbasi commented on #94
Hi, can I work on this?

[2020-10-25 15:56] blenderskool commented on #94
@talhaabbasi maybe @sooster910 is already working on this

[2020-10-26 18:57] minaorangina commented on #91
I've raised a PR for this :)

[2020-11-10 05:17] blenderskool commented on #68
Closing this issue as it was solved in v2.0.0 and does not occur anymore

[2020-11-10 05:17] #68 closed

[2020-11-12 09:48] #46 closed

[2020-11-12 09:48] #73 closed

[2020-11-12 09:48] #74 closed

[2020-11-12 09:48] #75 closed

[2020-11-12 10:07] #82 closed

[2020-11-12 10:07] #89 closed

[2020-11-12 10:07] #90 closed

[2020-11-12 10:07] #94 closed

[2020-12-10 12:54] blenderskool opened #98 "Highlight active link in header"
The active page currently open is not highlighted in the header. A basic indicator for the same can be added following the below design.

![image](https://user-images.githubusercontent.com/21107799/101775031-e7d7db00-3b14-11eb-97ee-c262201a5dec.png)

[2020-12-10 13:57] blenderskool opened #99 "Invalid file sharing route"
The `/app/t/` route is not a valid URL as it does not contain any room name. Right now [visiting this URL](https://blaze.now.sh/app/t/) shows an empty page. This URL should be redirected to `/app/` for now as it may serve a special need later.

[2020-12-14 07:54] blenderskool opened #101 "[RFC] Ask permission while receiving a file"
When a file is sent in a room, other peers in the room must get an option to accept/ignore the file receive request initially. If they ignore the file, files would only be transferred to people who accepted the request.

Not sure if it makes sense as Blaze already has rooms in place which would encourage people interested in the files to join a common room and then share the file. If we go with im

[2021-01-05 16:38] hashkazi00 commented on #98
Can I take this up @blenderskool ? I want to contribute to open source as a beginner.

[2021-01-05 16:55] blenderskool commented on #98
@hashkazi00 Sure, go ahead! Let me know if you face some problems in this.

[2021-01-05 19:29] hashkazi00 commented on #98
![Screenshot 2021-01-06 at 12 59 11 AM](https://user-images.githubusercontent.com/37013706/103690229-67dd4d80-4fba-11eb-9f0a-435d6f4de796.png)

Does this look good to you?

[2021-01-06 05:32] blenderskool commented on #98
@hashkazi00 The style looks very similar to the hover style. Would prefer the dot below the link.

[2021-01-06 06:18] hashkazi00 commented on #98
Absolutely, onto it.

[2021-01-18 17:05] #98 closed

[2021-02-01 05:44] chrisxvin opened #105 "Add sending text feature"
Can you add a feature of sending text messages?
I think this will be useful, especially between many devices of one person.

[2021-02-05 13:34] xs404 opened #106 "High cpu usages"
Scene was transfer between my two chromium browsers.

[2021-02-10 08:21] devynu opened #107 "Localize the front end"
Here are options,
- launchpad - https://translations.launchpad.net/
- crowdin free or https://crowdin.com/page/open-source-project-setup-request

[2021-02-21 15:05] lilmike opened #108 "docker-compose fails at prerender"
I get an error in blaze-client when running docker-compose up -d output:

<pre>
Step 16/20 : RUN npm run build
 ---> Running in 891660796c3a

Browserslist: caniuse-lite is outdated. Please run:
npx browserslist@latest --update-db

 ssr-bundle.e1978.css ■  4.12 kB (+4.12 kB)
        ssr-bundle.js ■  30.6 kB (+30.6 kB)

   ssr-bundle.e1978.css ■  0 B (-4.12 kB)
          ssr-bundle.js ■  0 B (-30.6

[2021-02-23 17:47] blenderskool commented on #108
Seems like this is also causing the docker builds on Docker Hub to also fail. Interestingly the normal builds of the frontend go through fine separately.

[2021-02-23 18:12] blenderskool commented on #105
Over time this might get added, does seem useful, especially sending some text from clipboard quickly

[2021-02-23 18:14] blenderskool opened #109 "Send file from clipboard"
If something is pasted from the clipboard which is file, we can add it to file transfer queue.

[2021-02-23 18:18] blenderskool commented on #106
Would require more testing on what is causing high CPU usages. Two places that I can note:
- WebTorrent and WebRTC communications might be intensive in which case we probably can't do anything about it.
- Intensive canvas updates for the loading indicator.

[2021-02-27 00:18] comradekingu commented on #107
@devynu Crowdin isn't free. It isn't _free software_ as in freedom, and it only doesn't charge for strictly non-commercial software, meanwhile monetizing use by way of scripts.

Put Weblate in the running. Launchpad has less timeouts nowadays, but there isn't a big community of translators left there.

[2021-03-03 06:48] blenderskool commented on #107
Thanks for the suggestion @comradekingu

I've never tried these tools before, will check them out 🙌

[2021-03-03 07:51] comradekingu commented on #107
@blenderskool
Check out https://hosted.weblate.org/legal/terms/ and set up shop at https://hosted.weblate.org/hosting/
Also, https://alternativeto.net/software/google-analytics/

[2021-03-07 07:40] devynu commented on #107
@comradekingu thank you
i just added random solutions and forgot weblate.

Thanks

[2021-04-09 20:18] mishailovic opened #111 "Error while creating a room"
When I create a room, nothing happens, and I also cannot join the room. I've tried using vpn and incognito mode, it doesn't help. The same problem is happening on the phone.

[2021-04-10 04:28] blenderskool commented on #111
Which browser? And which browser version?

[2021-04-10 05:31] mishailovic commented on #111
latest version of chrome

[2021-04-10 05:45] blenderskool commented on #111
@mishailovic Fixed this. Seems like Vercel deprecated the use of `now.sh` domains and they now redirect to `vercel.app`. Things should be working as before.

[2021-04-10 05:45] #111 closed

[2021-04-10 05:54] mishailovic commented on #111
👍

[2021-04-17 04:07] sunrisepi commented on #108
Hi @lilmike  and @blenderskool , I figured out how to get this to build via **docker-compose up -d**.  All you need to do is observe what is shown in the above error output:
[code]
So, I edited **blaze/client/package.json**, updating the line **preact build** in the section at the top, so it matches what is shown in the above error excerpt:

After making that change, run **docker-compose up -d** a

[2021-04-17 06:08] blenderskool commented on #108
Thank you @sunrisepi! 😄

We actually need prerendering support as it helps with SEO. I think right now only the home page and how it works page are prerendered. There's no need to prerender the app page as it is just a shell and not really static.

[2021-04-17 16:04] sunrisepi commented on #108
Thanks for the info @blenderskool!  If we wish to try to get docker to build the image with prerendering support, you may have noticed it mentioned this in the error output @lilmike shared:

`Consider wrapping code producing error in: 'if (typeof window !== "undefined") { ... }'`

I just wanted a quick way to get the image to build.  I did notice without prerendering support, that when first loadi

[2021-04-19 16:17] blenderskool commented on #108
@sunrisepi Interesting behaviour, will look into this more.

As per the issue, I haven't been able to give time to look into this. If anyone more familiar with Docker can try fixing this, would be a great help 🙂

[2021-04-23 01:36] linking123 opened #112 "Browserslist: caniuse-lite is outdated"
when i run `docker-compose up -d`, get some err info.

   npm 7.10.0
   os is ubuntu 18.04

[code]

[2021-04-23 05:04] blenderskool commented on #112
Closing this as it's a duplicate of #108

[2021-04-23 05:04] #112 closed

[2021-04-29 18:51] #99 closed

[2021-04-29 18:51] #108 closed

[2021-05-01 09:40] Chaitanyap22 opened #114 "Progress Indicator and direct links"
1. (Feature Request) Please add progress indicator to the sender side too, I think its really important as receiver can't always update the sender the percentage of file sent. It will be great if you could add this.

2. (Bug Fix / App Enhancement) I don't know whether it is a feature or bug, whenever you open the app and directly type /app/t/{block name} in address bar of the web browser then bloc

[2021-05-01 11:26] blenderskool commented on #114
This might be tricky, as a sender can be simultaneously sharing files to multiple users making the progress % different for different peers. I don't think WebTorrent natively calculates upload progress for the same. Will think over it again though if it's possible here.

This is a feature, although I don't fully understand what you mean by "sets the host unknown". All users should specify a name b

[2021-05-05 08:57] Chaitanyap22 commented on #114
Blocking direct links will force user to create link through start sharing button, this will make needful element like donate button more visible to the users and can generate more revenue.

Forgot to mention 3rd point to mention 😅

If the app is opened on a single device but using multiple browsers, then same device appears as different users. I think even this should be blocked as user won't sha

[2021-05-05 09:59] blenderskool commented on #114
Blocking direct links would also add friction to users who receive **links to join a room**. They will be stuck on Rooms page where they'll have to click on `New Room` and type the name of the room they wanted to join.

If donations are the main concern, we can add a non-obtrusive donation button in the file transfer page as well :smile:

This I don't think Blaze should handle. If the user knows t

[2021-05-06 15:33] rhijjawi opened #116 "Can't change max file size"
Hi there, I wasn't able to modify the max file size on Blaze through the docker-compose file, is there something else I needed to do?
[code]

[2021-05-06 16:54] blenderskool commented on #116
Hi, the environment variables specified under `blaze-server` should be specified under `blaze-client` (frontend) service.

You can read more about which ones should be used where [here](https://github.com/blenderskool/blaze#build-process)

[2021-05-06 17:44] rhijjawi commented on #116
[code]

[2021-05-07 10:09] blenderskool commented on #116
Actually, the `blaze-client` service takes all the environment variables as build args, as they cant be changed once the front-end is built and running.

Your docker-compose file should look something like this
[code]

[2021-05-08 12:26] blenderskool commented on #116
@rhijjawi I guess this was solved, repoen if necessary.

[2021-05-08 12:26] #116 closed

[2021-05-21 15:59] blenderskool commented on #91
Try in PWD button is no longer shown from the README, closing this now

[2021-05-21 15:59] #91 closed

[2021-05-24 18:53] blenderskool commented on #114
Closed via 1f5655da63537c8676c3900f2919d651da2e1fc7

[2021-05-24 18:53] #114 closed

[2021-05-28 13:38] ihubgit opened #120 "why sometimes intermediary server + file size limit + transfer speeds very slow ?"
Hi, both peers are on a different 4G mobile network. They mostly manage to establish a direct p2p connection, but transfer speeds are _always_ very slow. Why ?
Why on other occasions (still the same 4G networks) there's a need for an intermediary server and when this is the case, why is the file size capped to like 93 Mb ?

[2021-05-30 02:50] Gerrit0 opened #121 "Keep a file queue on multiple simultaneous uploads for a zip of all files"
This would be very helpful when transferring a few dozen images from an iPhone to PC, it would be great to download all of them at once rather than hitting save after each file transferred.

[2021-05-30 12:48] blenderskool commented on #120
Hi @ihubgit,

Transferring over direct p2p connection utilizes WebTorrent. Following 2 things can cause slow transfer speeds from what I have noticed:
- _very large_ files, preparing a torrent out of them and seeding it takes a considerable about of time. (Even more, if the device does not have large computing power)
- Perhaps the P2P connection was facilitated via the TURN server, which may cause

[2021-05-30 12:50] blenderskool commented on #121
@Gerrit0 From what I understand, this would allow multiple files that were received to be downloaded together as one zip file?

[2021-05-30 13:18] Gerrit0 commented on #121
Yep, that was the idea

[2021-06-07 16:30] blenderskool commented on #121
@Gerrit0 Right, I see, this was the behavior in v1.x. But the issue which I and few others felt was that it adds friction to the experience as you have to manually unzip the zip file once you receive it.

It does make sense when you have a lot of files, but having a large number of files being zipped **on the browser** would add overheads to file transfer speeds too :confused:

[2021-06-09 01:09] Gerrit0 commented on #121
Perhaps just a checkbox to pick one one behavior or the other? I agree that it definitely would add friction with a small number of files transferred (<3 ?)

[2021-06-17 10:15] japoodev opened #126 "Displaying QR code of instant room for easier access"
I am a frequent user of this project and really love the product. This is a small feature suggestion. When an instant room is created, along with the "copy room link" button, a QR code of the link below that will make accessing the room from smartphone faster and more streamlined

[2021-06-17 16:45] blenderskool commented on #126
@japoodev Glad to here that you like this project 😄

Yep, this feature makes sense. I think default QR code scanner on phones would suffice right? Blaze can only handle generating the QR code 🙂

[2021-06-19 14:29] vkkhare opened #127 "Local synchronization and communication"
Really love Blaze for the time I have used.

Why not share the files over local connections if available like Bluetooth, wifi, wifi-p2p. This will remove the necessity to have internet or even wifi. There is no integrated solution at present, I think Blaze can do that.

There are some open-source implementations available for local device discovery, network management. We can use those!

[2021-06-20 08:50] blenderskool commented on #127
@vkkhare I'm not sure if this is possible right now directly with JavaScript on the browser. The closest thing to P2P is WebRTC but that would also need a signaling server for establishing a P2P connection.

Can you share the open-source implementations you found here for reference, would check them out 🙂

[2021-06-20 12:51] vkkhare commented on #127
We found some projects that are integrating these local communication mediums https://github.com/project-chip/connectedhomeip. We ourselves are building one that supports a unified interface for the libs (so they don't need to worry about it) specifically focussed on cross-compatibility

If this seems like a nice idea maybe we can discuss how to integrate it?

[2021-06-20 18:35] blenderskool commented on #127
@vkkhare Interesting stuff. Would be great to know more about this.

By the way, is the medium y'all working on designed to work on the browsers? Would be interesting to check it out.

[2021-06-20 18:59] vkkhare commented on #127
One of our core focus is to support communication between browsers and native apps. At present, we are starting with supporting wifi with Bluetooth and expand into other protocols. The stack does device discovery and network management for the end-developer and as mentioned will be open-sourced.

Let's discuss over [slack](https://join.slack.com/t/nimbleedgecommunity/shared_invite/zt-ry422epv-~uJg

[2021-06-30 09:24] blenderskool commented on #106
Closing this, as there were no additional details provided like file size, chromium versions, etc.

I suspect the high CPU usage to be because of a large file being transferred by WebTorrent. Can't do much about it. If someone finds additional details and possible solutions, we can open this issue and discuss it again.

[2021-06-30 09:24] #106 closed

[2021-06-30 09:27] blenderskool commented on #120
Closing this, open again if there are further questions in this.

[2021-06-30 09:27] #120 closed

[2021-06-30 09:32] blenderskool opened #128 "Roadmap for Blaze v3 ⚡🥁"
### It's time for v3!
Blaze v3 will feature an improved interface along with a bunch of new features to facilitate and improve the flow of file sharing :tada:

Here are the tasks in focus for this release:
- [x] **Subtle redesign** of Rooms page. Done! #132
- ~**Activity stream** - To show some stats about files shared by the user from the locally stored data.~
  Feature cancelled for the time bei

[2021-08-15 17:45] blenderskool opened #130 "Favicon missing on direct app URLs"
![image](https://user-images.githubusercontent.com/21107799/129487531-ea8aacc4-5389-494c-a9b0-417637f81958.png)

Reference: https://twitter.com/CyberQuerent/status/1426803975244849155

[2021-09-07 14:13] #130 closed

[2021-10-17 12:11] blenderskool opened #133 "PWA Shortcut to join Instant room"
Using [PWA App shortcuts API](https://web.dev/app-shortcuts/), a shortcut to joining an instant room can be added. Clicking on this shortcut would take the user directly to the newly created instant room skipping the recent rooms page.

[2021-10-17 14:11] yash-jain24 commented on #133
can i work on it?

[2021-10-17 17:35] blenderskool commented on #133
@gVirtu Sure, please go ahead. As for the icon, yes, we can have the same icon as the one shown in the room's creation modal. I have attached the icon for this below. Do let me know if you need anything else.

[instant_room_shortcut_icon.png](https://user-images.githubusercontent.com/21107799/137638423-2a7aaf40-820d-432b-b688-bfe746a91f44.png)

[2021-10-18 05:57] blenderskool commented on #133
Closed via #134

[2021-10-18 05:57] #133 closed

[2021-10-22 18:36] elearningdienst opened #135 "NGINX Reverse Proxy"
Hi Folks,

I have only one public IPv4. Is it possible to use an nginx proxy on an other server than the machine wich the docker image is on?

Greetings from Germany

[2021-11-23 17:46] blenderskool commented on #135
Yes, I think this should be possible, you could proxy the requests from the public server to the other server's IP address and port number using nginx.

Let me know if I understood it incorrectly.

[2021-11-23 20:25] elearningdienst commented on #135
Can I use a TURN server within blaze? I have coturn up and running as my nextcloud talk module needs a TURN server for compatibility reasons.

[2021-11-23 20:26] elearningdienst commented on #11
Can I use a TURN server within blaze? I have coturn up and running as my nextcloud talk module needs a TURN server for compatibility reasons.

[2021-11-23 20:40] elearningdienst commented on #135
Seems to work, but (as on your own instance) it is only possible to share files in the same network.

[2021-11-23 21:42] elearningdienst commented on #135
Does not work as expectet, the fallback to websocket seems not to work. Here is the reverseproxy config part I usually use:

`   location / {
      proxy_pass http://___internalip_____:___port____;
      proxy_redirect off;
      proxy_set_header Host $http_host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header

[2022-01-22 15:02] blenderskool commented on #121
Gave this some more thought, and I think we can try the following flow:
- User selects > 1 no. of files:
  - If the no. of files < 5:
    - Proceed with sending each file individually.
  - else:
    - Show a modal to the user with two options. One to send individually and other to send all as a single zipped file.

Open to suggestions or alternate ideas.

[2022-01-23 09:32] blenderskool commented on #65
Closed via c0d64282b8776e228f68a647e2064bffd7b04578

[2022-01-23 09:32] #65 closed

[2022-01-23 13:36] blenderskool commented on #126
Closed via d92e39e4010249944204fc1d32f3912f9e9e5e75

[2022-01-23 13:36] #126 closed

[2022-01-23 14:18] blenderskool commented on #109
Closed via 44e3d6687a4bd8789249af67b7b3f05fb0087938

[2022-01-23 14:18] #109 closed

[2022-01-30 14:23] studynetskill opened #137 "Error during WebSocket handshake: Unexpected response code: 429"
I have encountered some problems. When I transfer files from the computer to the mobile phone, it is successful, but when I transfer files from the mobile phone to the computer, there are errors. The errors are as follows：

webtorrent.min.js:6

       WebSocket connection to 'wss://tracker.openwebtorrent.com/' failed: Error during WebSocket handshake: Unexpected response code: 429
Socket @ webtorr

[2022-02-09 13:13] blenderskool commented on #137
Odd errors. Could be some firewall issue.
Can you share more details about the error?
- Browser Name
- Browser version
- Where did the above errors occurr? Computer or Phone.

[2022-02-12 06:25] blenderskool commented on #25
@alceil There are no designs for this page yet, will work on this once we finalize the options which will be shown on this page. Then maybe it'll be easier for you to work on it.
As of now:
- changing nickname

If you have any suggestions for this page, please share 🙂

[2022-02-12 07:13] alceil commented on #25
Okay cool

[2022-02-12 09:51] blenderskool commented on #11
@elearningdienst Yes it is possible to use a coturn server with Blaze. You'll have to add your TURN server details to this file, and rebuild Blaze client app https://github.com/blenderskool/blaze/blob/61998dd02bd1d47d011f1ce6ace0a2c9747cbf63/client/src/utils/fileShare.js#L17

[2022-03-18 06:43] williamyan1024 opened #139 "PLS remove node-sass"
PLS remove node-sass :)

[2022-03-18 07:34] blenderskool commented on #139
@williamyan1024 Any reason why it should be removed?

[2022-03-22 01:29] williamyan1024 commented on #139
node-sass low-level dependencies [libsass](https://github.com/sass/libsass), resulting in many users installing Especially difficult for Windows users, it forces users to install python2 and Visual Studio in the windows environment to compile successfully.

[2022-03-22 13:36] blenderskool commented on #139
@williamyan1024 Oh. Any alternatives that you'd suggest? I also noticed that `node-sass` is now deprecated.

[2022-04-02 14:42] geiseri opened #141 "Allow new members to select old files"
In my usecase I tend to select a file for transfer and then send the "link" to people over chat or email.  Currently I use nextcloud shares for that but that lacks the ability to swarm files.  I tried [instant.io](https://github.com/webtorrent/instant.io) but its UX has some "gaps" compared to blaze.

Currently members whom have not already be joined before the transfer has been started would not

[2022-04-10 06:58] blenderskool commented on #141
@geiseri This is a very interesting feature. Some of my thoughts:
- This will only work when WebTorrent transfer is used. I wonder if we can make it work even when WebSockets transfer is used(as a fallback), although not a requirement.
- Right now the torrent is destroyed on the client after it has been transferred to all the active peers. This logic would need to be updated to allow the files to

[2022-04-10 07:00] blenderskool commented on #137
Closing as there have been no updates from the OP.

[2022-04-10 07:00] #137 closed

[2022-04-10 09:15] blenderskool opened #142 "Visualizer animation loop is never cleared"
The file transfer visualizer canvas animation uses a `requestAnimationFrame` loop which does not get cleared after the user exits the room. The draw calls should be stopped as they are no longer relevant and would lead to performance issues if the user joins and exits many rooms.

[2022-04-10 10:42] blenderskool opened #143 "Explore UI animations"
UI animations in the PWA can help improve the user experience and give it a more native feel.

Animations in the following two areas will be explored:
- Page transitions:
  - Enter and exit page animations.
  - Possibly different animations when the user goes to a page vs they go back.
- File transfer visualizer animations:
  - File transfer visualizer can be improved with spring animations when a

[2022-04-18 18:49] #143 closed

[2022-04-18 18:49] blenderskool commented on #139
`node-sass` has been replaced by `sass` package

[2022-04-18 18:49] #139 closed

[2022-05-03 11:58] cyPABLO123456cy opened #144 "Deploy Error"
### When i deploy this repository in my server . the follwing edrroe has occurred.
`
Build  [                    ] 0% (0.0s) compiling✖ ERROR TypeError: Cannot read properties of undefined (reading 'get')
    at /usr/blaze/node_modules/webpack/lib/DefinePlugin.js:292:38
    at SyncHook.eval [as call] (eval at create (/usr/local/lib/node_modules/preact-cli/node_modules/tapable/lib/HookCodeFactory.j

[2022-06-08 18:09] blenderskool commented on #144
Can you add more details about how you deployed Blaze on your server?
Did you use the provided docker images?

[2022-06-21 12:16] imadbz opened #145 "[Feature Request] add support for exchanging text messages"
hi, love blaze.vercel.app
it solves all the problems of sharing files.

would be awesome if we can drop text messages too.

[2022-06-23 08:34] blenderskool commented on #145
Thanks @imadbz!
There is already a similar issue #105, so I'll close this in favor of keeping the discussion in one thread.

[2022-06-23 08:34] #145 closed

[2022-06-23 08:52] blenderskool commented on #135
Not sure if this was resolved, but for anyone facing this issue, please refer [this](https://github.com/blenderskool/blaze/blob/master/nginx/image-nginx.template) nginx config to setup the proxy correctly.
Also, if WebRTC fails to work across networks, consider setting up your own TURN server using something like [coturn](https://github.com/coturn/coturn) and add the URL of the TURN server here
ht

[2022-06-29 13:56] blenderskool commented on #144
Closing this issue as additional details were not provided.

[2022-06-29 13:56] #144 closed

[2022-06-29 14:15] #84 closed

[2022-07-01 13:18] geiseri commented on #141
@blenderskool I was thinking about this I am not sure it does make  sense without using a wider DHT to share a magnet link.  So this might be pushing a square peg in a round hole.   Feel free to close this if you want to clear out open issues.  It is still an awesome tool!

[2022-08-28 11:19] csahu3008 opened #147 "small css fix needed on "join an instant room" button on mobile devices"
![Screenshot_2022-08-28-14-06-53-47_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/43113942/187070829-3027840a-613c-4b26-8a85-dac3018d0b46.jpg)

small css fix needed on "join an instant room" button on mobile devices while joining a new room

[2022-08-28 13:34] blenderskool commented on #147
Maybe rephrasing it to "Join Instant Room" fit.

[2022-08-31 00:23] ethAmazinDor commented on #147
hey is this still open ?

[2022-08-31 05:05] blenderskool commented on #147
@ethAmazinDor Yes

[2022-09-01 14:30] Medmly20208 commented on #147
hey I opened a pull request to solve this problem check it out

[2022-10-01 13:00] blenderskool commented on #147
Closed via #148

[2022-10-01 13:00] #147 closed

[2022-10-22 13:29] blenderskool commented on #25
✅ Closed via e5b958e120c8d74c8d34d3843fd728b97811f9c1

[2022-10-22 13:29] #25 closed

[2022-10-22 13:37] blenderskool opened #150 "Update version of WebTorrent library"
Blaze currently uses WebTorrent v0.108.6 script. We should update it to the more recent versions.

To anyone who's interested in picking this up, make sure to:
- Check if the new versions of WebTorrent (v1.x) are backward compatible with v0.x versions (that Blaze uses currently).
- Check if file sharing works as expected after the upgrade.
- Add a comment here if any breaking change of WebTorrent

[2022-10-22 14:15] AndrewDineen commented on #150
Hi, can I take this issue?

[2022-10-22 14:18] blenderskool commented on #150
@AndrewDineen Sure please go ahead!

[2022-10-22 14:51] blenderskool opened #151 "Update design of onboarding screen"
The current onboarding screen only shows an input field to choose a nickname.
New design can include some more context as to what nicknames do in Blaze.

[2022-10-22 15:11] g4m3r0 commented on #151
Hey @blenderskool, I would like to work on this issue.
The project is very nice!

Do you already have something specific in mind that should be shown?
Just a message what the nickname is used for?

[2022-10-23 07:49] blenderskool commented on #151
@g4m3r0 Thanks for taking interest in Blaze!
You can find a rough design of what I'm thinking of here https://www.figma.com/file/C0jhaGi2zBgswsOlOhVuWa/Blaze---file-sharing?node-id=0%3A1

I'm not sure which one's better between `Mobile 1` and `Mobile 2` right now, will be able to go ahead with one once I try both on an actual device. Since both are similar in terms of layout, I think it shouldn't

[2022-10-24 08:34] g4m3r0 commented on #151
@blenderskool that design looks fantastic.
Personally, I would prefer `Mobile 1` because it looks cleaner and more "natural" to me.
But yeah that look and feel indeed depends on the screen resolution of the device.

[2022-11-03 05:58] blenderskool commented on #150
@AndrewDineen Are you still working on this? Any updates?

[2022-11-17 09:25] blenderskool commented on #151
@g4m3r0 Are you working on this?